body {
    background-color: black;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.mainContent {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: none;
}

#bannerImg {
    display: block;
    margin: 0 auto;
    width:60%;
}

#clock {
    font-size: 200%;
}

.triviaArea {
    margin: 0 auto;
    font-size: 150%;
    width: 75%;
}

h1 {
    margin-top: 20px;
    margin-bottom: 50px;
}

h2 {
    line-height: 1.5;
}

.answerChoices {
    text-align: left;
    margin: 15px auto;
}

label {
    margin: 15px 0;
}

input {
    margin: 15px;
    vertical-align: 4px;
}

p {
    margin: 15px 0;
}

.buttonDiv {
    margin-top: 25px;
    text-align: center;
}

button {
    font-size: 225%;
}

/* Sets cursor to pointer on hover of selections */
button:hover, label:hover {
    cursor: pointer;
}

#restartBtn {
    display: none;
}

.correctAnswer {
    color: green;
    font-weight: bold;
}

.incorrectAnswer {
    color: red;
    font-weight: bold;
}